### Q.2 Creating DataFrame from dict of narray/lists

In [1]:
import pandas as pd

In [2]:
dic = {"Name":['AB','Dev','Raj'],
       "Marks":[97,89,79]}

In [3]:
df = pd.DataFrame(dic)

In [4]:
df

  Name  Marks
0   AB     97
1  Dev     89
2  Raj     79