### Q.3 Creating Pandas dataframe using list of lists

In [1]:
import pandas as pd

In [8]:
lst = [["Sum",1], ["Mon", 2], ["Tue", 3]]

In [9]:
df = pd.DataFrame(lst, columns = ['Days','Date'])

In [10]:
df

  Days  Date
0  Sum     1
1  Mon     2
2  Tue     3